.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    &:hover {
      color: #b8b7b7;
    }
    &:active {
      color: #838383;
    }
  }
  .rs-logo {
    width: 70px;
    transition: 0.3s;
    &:hover {
      scale: 1.1;
    }
  }
}