@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/normalize';
@import '../base/typography';

.footer {
    @include flex-center;
    background: url('../../assets/img/start-screen-gradient-background.jpg') center center/100% no-repeat;
    background-size: cover;
    .footer-wrapper {
        @include flex-center;
        padding: $padding-footer;
        max-width: $content-wrapper;
        width: $width-100;
        justify-content: space-between;
        color: $color-primary;
        @include media-979 {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 67px;
            column-gap: 60px;
            padding: 2% 1.66666% 0 1.66666%;
        }
        @include media-440 {
            padding: 4% 1.66666% 0 1.66666%;
            row-gap: 42px;
            img {
                width: 85%;
            }
        }
        .footer-contacts {
            @include flex-content-column($gap: 38px);
            padding-top: 17px;
            .footer-contacts__title {
                max-width: 278px;
                width: 100%;
                @include h3-title;
                color: $color-light-xl;
                @include media-440 {
                    @include h3-title-mobile;
                    text-align: center;
                    width: 250px;
                }
            }
            .footer-contacts__email {
                @include h4-title;
                @include flex-align-center ($gap: 20px);
                transition: 0.3s;
                &:hover {
                    color: $color-primary-light;
                }
                &:active {
                    color: $color-primary-darker;
                }
                &::before {
                    content: "";
                    background-image: url("../../assets/svg/icon-email.svg");
                    width: 40px;
                    height: 32px;
                }
            }
            .footer-contacts__phone {
                @include h4-title;
                @include flex-align-center ($gap: 20px);
                transition: 0.3s;
                @include media-440 {
                    gap: 25px;
                }
                &:hover {
                    color: $color-primary-light;
                }
                &:active {
                    color: $color-primary-darker;
                }
                &::before {
                    content: "";
                    background-image: url("../../assets/svg/icon-phone.svg");
                    width: 40px;
                    height: 32px;
                }
            }
        }
        .footer-locations {
            @include flex-content-column($gap: 30px);
            width: 300px;
            padding-top: 17px;
            @include media-440 {
                padding: 0;
                align-items: center;
                gap: 35px;
            }
            .footer-locations__title {
                @include h3-title;
                color: $color-light-xl;
                @include media-440 {
                    @include h3-title-mobile;
                    text-align: center;
                    width: 290px;
                }
            }
            .footer-locations__link {
                @include h4-title;
                @include flex-align-center ($gap: 20px);
                transition: 0.3s;
                @include media-440 {
                    width: 100%;
                }
                &:hover {
                    color: $color-primary-light;
                }
                &:active {
                    color: $color-primary-darker;
                }
                &.boston {
                    &::before {
                        content: "";
                        background-image: url("../../assets/svg/icon-marker.svg");
                        background-repeat: no-repeat;
                        width: 42px;
                        height: 32px;
                    }
                }
                &.london {
                    &::before {
                        content: "";
                        background-image: url("../../assets/svg/icon-marker.svg");
                        background-repeat: no-repeat;
                        width: 22px;
                        height: 32px;
                    }
                }
            }
        }
    }
}