@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/normalize';
@import '../base/typography';
@import '../components/burger';

.header {
    @include flex-center ();
    &.header.active {
        .header-wrapper {
            overflow: inherit;
        }
    }
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: $padding-header;
        width: $width-100;
        max-width: $content-wrapper;
        &.pets {
            overflow: hidden;
        }
        @include media-tablet {
            max-width: $content-wrapper-tablet;
            padding: 4% 2.916% 3.8% 2.916%;
        }
        @include media-375 {
            max-width: $content-wrapper-mobile;
            padding: 10% 0% 8.6% 5.916%;
        }
        &.pets {
            @include media-440 {
                // padding: 10% 0% 9% 5.916%;
            }
        }
    }
}

.logo {
    @include flex-content-column($gap: 10px);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        scale: 1.05;
    }
    &:active {
        scale: 1.1;
    }
    
    .logo__title {
        @include text-logo-title ();
        color: $color-primary;
        margin: 0;
        &.pets{
            color:$color-dark-l;
        }
    }

    .logo__subtitle {
        @include text-logo-subtitle();
        padding-left: 5px;
        color: $color-light-xl;
        &.pets {
            color: $color-dark-3xl;
        }
    }
}

.navigation {
    &.active {
        right: -1px;
        transition: right 0.5s;
    }
    @include media-767 {
        display: flex;
        right: -999px;
        min-height: 100vh;
        width: 320px;
        top: 0;
        position: absolute;
        background-color: $color-dark-3xl;
        min-height: 100vh;
        z-index: 20;
        transition: right 1.5s;
        &.pets {
            background-color: $color-light-l;
        }
    } 
    .navigation__menu {
        display: flex;
        padding-top: 16px;
        gap: 36px;
        list-style-type: none;
        @include media-767 {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 41px;
        }
    }
    .navigation__item {
        .navigation__link {
            @include text-paragraph-1();
            color: $color-dark-s;
            text-decoration: none;
            transition: 0.3s;
            @include media-767 {
                @include text-paragraph-mobile-menu;
            }
            &:hover {
                color: $color-light-s;
            }
            &:active {
                color: $color-primary;
            }
            &.pets {
                color: $color-dark-l;
                &:hover {
                    color: $color-dark-3xl;
            }
            }
            &.navigation.active .navigation__link_active {
                border-bottom: 7px;
            }
            
            &.navigation__link_active {
                padding-bottom: 3px;
                border-bottom: 3px solid $color-primary;
                color: $color-light-s;
                pointer-events: none;
                &.pets {
                    // padding-bottom: 3px;
                    color: $color-dark-l;
                }
            }
        }
    }
    &.navigation.active .navigation__link.navigation__link_active {
        padding-bottom: 7px;
    }
}
