@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/normalize';
@import '../base/typography';

.header {
    @include flex-center ();
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        padding: $padding-header;
        width: $width-100;
        max-width: $content-wrapper;
        overflow: hidden;
        @include media-tablet {
            max-width: $content-wrapper-tablet;
            padding: 4% 2.916% 3.8% 2.916%;
        }
        @include media-375 {
            max-width: $content-wrapper-mobile;
            padding: 10% 0% 8.6% 5.916%;
        }
        &.pets {
            @include media-440 {
                // padding: 10% 0% 9% 5.916%;
            }
        }
    }
}

.logo {
    @include flex-content-column($gap: 10px);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        scale: 1.05;
    }
    &:active {
        scale: 1.1;
    }
    
    .logo__title {
        @include text-logo-title ();
        color: $color-primary;
        margin: 0;
        &.pets{
            color:$color-dark-l;
        }
    }

    .logo__subtitle {
        @include text-logo-subtitle();
        padding-left: 5px;
        color: $color-light-xl;
        &.pets {
            color: $color-dark-3xl;
        }
    }
}

.navigation {
    @include media-767 {
        display: none;
        transform: translateX(999px);
        transition: transform 0.5s;
    }
    .navigation__menu {
        display: flex;
        padding-top: 16px;
        gap: 36px;
        list-style-type: none;
    }
    .navigation__item {
        .navigation__link {
            @include text-paragraph-1();
            color: $color-dark-s;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color: $color-light-s;
            }
            &:active {
                color: $color-primary;
            }
            &.pets {
                color: $color-dark-l;
                &:hover {
                    color: $color-dark-3xl;
            }
            }
            &.navigation__link_active {
                padding-bottom: 3px;
                border-bottom: 3px solid $color-primary;
                color: $color-light-s;
                pointer-events: none;
                &.pets {
                    // padding-bottom: 3px;
                    color: $color-dark-l;
                }
            }
        }
    }
}
.burger-btn {
    display: none;
}
@include media-767 {
    .burger-btn {
        display: block;
        position: relative;
        align-self: center;
        right: 50px;
        bottom: 3px;
        z-index: 30;
        span {
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $color-primary;
            transition: all 0.5s;
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                background-color: $color-primary;
                top: -10px;
            }
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                background-color: $color-primary;
                top: 10px;
            }
        }
        .burger-line-pets {
            background-color: black;
            &::before {
                background-color: black;
            }
            &::after {
                background-color: black;
            }
        }
    }

}