@import '../abstracts';

.button {
  background-clip: padding-box;
  background-color: $color-buttons;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1.3rem;
  color: $color-white;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  cursor: pointer;
  
  &.button-big {
    width: 300px;
  }
  &:hover,
  &:focus {
    background-color: $color-buttons-hover;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
  }
  &:active {
    background-color: $color-buttons-active;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
}
body.dark .button {
  background-color: $color-buttons-dark;
  color: $color-gray;
  &:hover {
    background-color: $color-buttons-hover-dark;
  }
  &:active {
    background-color: $color-buttons-active-dark;
  }
}

.button-input {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1.3rem;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  background-color: transparent;
  border-bottom: 2px solid $color-gray;
  border-right: 2px solid $color-gray;
  color: $color-gray;
  cursor: pointer;
  &:hover {
    color: $color-white;
    background-color: transparent;
    transform: none;
    box-shadow: none;
    border-bottom: 2px solid $color-white;
    border-right: 2px solid $color-white;
  }
  &:focus {
    background-color: transparent;
    box-shadow: none;
    transform: none;
  }
  &:active {
    transform: translateY(-1px);
  }
}