@import '../utils/_keyframes';
@import '../utils/mixins';

.header {
  padding: $padding-header;
  .logo-wrapper {
    @include flex-align-center;
    gap: 5px;
    .logo {
      @include width-height(20px, 20px);
      opacity: 0.3;
      transition: 0.3s;
      &:hover {
        opacity: 1;
        scale: 1.2;
        animation: wiggle 3s infinite;
      }
    }
    .logo-title {
      font-size: 1.1rem;
      user-select: none;
    }
  }
}