@import '../utils/keyframes';
@import '../utils/mixins';

.text-fields {
  display: flex;
  width: 85%;
  max-height: 430px;
  border: solid 7px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-family: monospace;
  font-size: 1rem;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 95%;
  }

  &.shake {
    animation: input-field-shake 0.1s 5;
  }

  .code-field {
    width: 50%;
    overflow: auto;
  }
}
.field-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: rgba(0,0,0,0.2);
  border-top: 1px solid rgb(184 185 187 / 0.07);
  border-bottom: 1px solid rgb(184 185 187 / 0.07);

  .field-file-name {
    opacity: 0.5;
  }
}

.field-entry {
  display: flex;

  &.html-field {
    color: #7e7d7d;
    background: rgba(0,0,0,0.3);
    border-right: solid 1px rgba(255,255,255,0.03);
    border-bottom: solid 1px rgba(255,255,255,0.03);

    .numbers-list {
      background: rgba(0,0,0,0.3);
      border-right: solid 1px #2e2e2e;
    }
  }
  &.css-field {
    color: #9c9c9c;
    background-color: #e8e7e7;
  }
  .numbers-list {
    width: 20px;
    padding: 10px;
    margin: 0;
    background-color: #ddd;
    line-height: 140%;
    list-style: none;
    text-align: right;
  }

  .css-code-editor {
    display: flex;
    flex-direction: column;
    @include width-height(calc(100% - 40px), max-content);
    
    * {
      padding: 10px;
    }

    .input-wrapper {
      position: relative;
      display: flex;
      gap: 10px;
      font-size: 0.9rem;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        width: 100%;
      }
  
      .selector-input {
        @include width-height(calc(100% - 65px), 20px);
        padding: 5px;
        background: rgba(45, 146, 183, 0.3);
        border: none;
        outline: none;
        animation: flashing 1s infinite;

        @media (max-width: 768px) {
          width: 90%;
        }
        
        &::placeholder {
          opacity: 0.7;
        }
      }
  
      .enter {
        @include flex-center;
        @include width-height(50px, 30px);
        padding: 2px 7px 2px 7px;
        background: #ddd;
        border: solid 3px #929292;
        border-width: 1px 1px 6px 1px;
        cursor: pointer;
        transition: 0.1s;
  
        &.enter-press {
          border-width: 1px 1px 3px 1px;
          transform: translateY(2px);
        }
  
        &:active {
          border-width: 1px 1px 3px 1px;
          transform: translateY(2px);
        } 
      }
    }
  }
}

.html-markup-wrapper {
  padding: 10px;
  line-height: 140%;
  color: #a6a6a6;

  div {
    padding-left: 20px;
  }

  > div {
    padding-left: 0;
  }

  .markup-wrapper {

    .markup,
    .close-tag,
    .markup-child {
      transition: 0.1s;
      
      &.backlight {
        color: #fff;
        span {
          color: #fff !important;
        }
      }
    }
  }
}



