@import '../utils/mixins';

.win-wrapper {
  @include flex-center;
  @include width-height(700px, 250px);
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 30%;
  left: calc(50% - 300px);
  border-radius: 30px;
  background-color: #2e2923;
  text-align: center;

  .win-title {
    color: #3aaf0c;
    font-size: 2rem;
  }
}
