{
  "env": {
    "es6": true, 
    "browser": true, 
    "node": true 
  },
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./async-race/tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint", "prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "no-console": "warn",
    "no-plusplus": "off",
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true,
      "allowNamedExports": false
    }],
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", { "code": 120, "ignoreTemplateLiterals": true, "ignoreStrings": true }],
    "max-lines-per-function": ["error", 40],
    "object-curly-newline": ["error", { "consistent": true }],
    "@typescript-eslint/no-explicit-any": 2, 
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": 0,
    "@typescript-eslint/no-use-before-define": "off"
  }
}

