{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", { "code": 120, "ignoreTemplateLiterals": true }],
    "object-curly-newline": ["error", { "consistent": true }]
  }
}

