@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/normalize';
@import '../base/typography';
@import '../components/buttons';
@import '../components/slider';
@import '../layout/header';
@import '../layout/footer';
@import '../general.scss';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.our-friends {
    @include flex-center;
    background-color: $color-light-l;
    flex: 1 0 auto;
    .our-friends-wrapper {
        @include flex-center;
        @include flex-content-column ($gap: 59px);
        padding: $padding-pets-our-friends;
        width: $content-wrapper;
        @include media-800 {
            gap: 30px;
        }
        @include media-440 {
            padding: 13% 3% 13% 3%;
            gap: 40px;
        }
        .our-friends-title {
            @include h3-title;
            color:$color-dark-l;
            text-align: center;
            @include media-440 {
                @include h3-title-mobile;
            }
            span {
                display: block;
            }
        }
        .cards-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 3px;
            row-gap: 33px;
            flex-wrap: wrap;
            @include media-800 {
                padding: 0 9.6%;
            }
            @include media-714 {
                justify-content: center;
            }
            @include media-440 {
                padding: 0;
            }
        }
        .cards__item {
            @include flex-content-column ($gap: 30px);
            align-items: center;
            padding-bottom: 27px;
            background-color: $color-light-s;
            border-radius: 9px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                scale: 1.05;
            }
            &:hover .button_secondary {
                background-color: $color-primary-light;
                border-color: $color-primary-light; 
            }
            @include media-1158 {
                &:nth-child(n+7) {
                    display: none;
                }
            }
            @include media-440 {
                &:nth-child(n+4) {
                    display: none;
                }
            }
            .cards__pet-name {
                @include text-pets-name;
            }
            .cards__pet-photo {
                border-radius: 9px 9px 0px 0px;
            }
        }
    }
}

.our-friends-button-wrapper {
    @include flex-center-full;
    padding-top: 4px;
    gap: 20px;
    @include media-800 {
        padding-top: 13px;
        justify-content: space-between;
        gap: unset;
    }
    @include media-440 {
        padding-top: 5px;
    }
    .arrow-left {
        transform: rotate(180deg);
    }
}
