@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/normalize';
@import '../base/typography';
@import '../components/buttons';
@import '../components/slider';
@import '../layout/header';
@import '../layout/footer';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.our-friends {
    @include flex-center;
    background-color: $color-light-l;
    flex: 1 0 auto;
    .our-friends-wrapper {
        @include flex-center;
        @include flex-content-column ($gap: 60px);
        padding: $padding-pets-our-friends;
        width: $content-wrapper;
        .our-friends-title {
            @include h3-title;
            color:$color-dark-l;
            text-align: center;
            span {
                display: block;
            }
        }
        .cards-wrapper {
            @include flex-center;
            gap: 40px;
            flex-wrap: wrap;
        }
        .cards__item {
            @include flex-content-column ($gap: 30px);
            align-items: center;
            padding-bottom: 20px;
            background-color: $color-light-s;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                scale: 1.05;
            }
            .cards__pet-name {
                @include text-pets-name;
            }
            .cards__pet-photo {
                border-radius: 9px 9px 0px 0px;
            }
        }
    }
}

.our-friends-button-wrapper {
    display: flex;
    padding-top: 30px;
    gap: 20px;
    .arrow-left {
        transform: rotate(180deg);
    }
}
