@import './abstracts';
@import './base/normalize';
@import './base/typography';
@import './components/buttons';
@import './components/minesweeper';


body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  color: $font-color-white;
  background: $page-background-color;
}

.app-title {
  font-size: 3rem;
}

.game-counters {
  @include flex-center;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 1.5rem;
}

.buttons-title {
  margin: 0;
  font-size: 1.5rem;
}

.buttons-wrapper {
  @include flex-center;
  gap: 10px;
  align-items: center;
    @media (max-width: 540px) {
      flex-direction: column;
  }
}