@import './base/normalize';
@import './base/typography';
@import './variables';
@import './_buttons.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  font-family: Ubuntu, sans-serif;
  color: $font-color-white;
  background: $page-background-color;
}

.app-title {
  font-size: 3rem;
}

.game-counters {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
}

.game-wrapper {
  padding: 15px;
  background-color: #eee;
  border-radius: 10px;
  .row {
    display: flex;
    .cell {
      width: 35px;
      height: 25px;
      padding: 10px 5px 5px 5px;
      border: 1px solid #eee;
      background-color: #eee;
      text-align: center;
      box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
      cursor: pointer;
      transition-property: background-color, box-shadow;
      transition-duration: 1s;
      transition-timing-function: ease-out;
    }
  }
}

.buttons-title {
  margin: 0;
  font-size: 1.5rem;
}

.buttons-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}