$content-wrapper: 1200px;
$footer-div-width: 310px;

//padding
$padding-start-screen: 60px 40px 0 40px;
$padding-about-pets-help: 80px 40px 100px 40px;
$padding-in-addition: 80px 182px 100px 183px;
$padding-footer: 40px 20px 0 20px;
$padding-header-pets: 30px 40px;
$padding-pets-our-friends: 80px 40px 100px 40px;

//colors
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;
$color-primary:#F1CDB3;
$color-primary-light:#FDDCC4;
$color-primary-darker:#ffc499;
